* {
    box-sizing: border-box;
}

body {
    height: 100vh; /* Body com altura máxima */
    margin: 0;
    background-color: darkolivegreen;

    display: flex;
    flex-direction: column; /* Organiza em vertical */
    align-items: center; /*Centraliza tudo no eixo*/
    font-family: 'Archivo Black', sans-serif;
}

.card {
    background: rgb(189, 208, 155);
    color: rgb(38, 51, 35);
    width: 90%;
    max-width: 500px; /* Largura fixa ou max-width */
    padding: 30px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; /* Centraliza texto e imagem */
    box-shadow: 10px 10px 0px rgb(25, 51, 16); /* Sombra estilo "retro" */
    
    /* Flexbox pra empilhar tudo verticalmente dentro do cartão */
    display: flex;
    flex-direction: column; 
    gap: 20px; /* Espaço entre o header e os links */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

ul {
    list-style: none; /* Tchau bolinhas */
    padding: 0;
    margin: 0;
    width: 100%; /* Ocupa a largura toda do cartão */
}

li {
    margin-bottom: 15px; /* Espaço entre os botões */
}

main {
    font-size: 25px;
    line-height: 3;
}
a {
    color: rgb(177, 232, 153);
}

a:hover {
    color: azure;
}
.avatar {
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgb(25, 51, 16); /* Bordinha pra dar destaque */
}
.botao {
    display: block; /* Faz o link ocupar o espaço todo, não só o texto */
    background-color: rgb(25, 51, 16); /* Fundo escuro */
    color: rgb(240, 255, 244); /* Letra clara */
    padding: 15px; /* Deixa gordinho */
    border-radius: 10px;
    text-decoration: none; /* Tira o sublinhado */
    font-weight: bold;
    transition: 0.3s; /* Animação suave */
}

.botao:hover {
    background-color: rgb(38, 51, 35); /* Muda a cor quando passa o mouse */
    transform: scale(1.05); /* Cresce um pouquinho */
    color: white;
}

footer {
    margin-top: auto;
    width: 100%;
    font-size: 18px;
    height: 90px;
    text-align: center;
    background: rgb(25, 51, 16);
    color: rgb(240, 255, 244);
}